<!DOCTYPE html>
<html>

<%- include('components/head'); %>

  <body>

    <header class="container">
      <%- include('components/header'); %>
    </header>

    <main class="container">
        <%- body %>
    </main>

    <%- include('components/footer'); %>
      <%- include('components/scripts'); %>

  </body>

</html>