<!DOCTYPE html>
<html>

<%- include('head'); %>

  <body>
    <header>
      <%- include('components/navbar'); %>
    </header>
    <main>
      <%- body %>
    </main>

    <%- include('footer'); %>
      <%- include('scripts'); %>

  </body>

</html>